.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height:30px;
}

.App-title {
  font-size: 2em;
  font-family: HARRYP__;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: HARRYP__;
  src: url(HARRYP__.TTF);
}

footer {
	background: black;
}